fastapi==0.111.0
uvicorn==0.30.1
pydantic==2.8.2
pandas==2.2.2
numpy==1.26.4
scipy==1.13.1
scikit-learn==1.7.2
statsmodels==0.14.2
pytest==8.2.2
httpx==0.27.0
python-dotenv==1.0.1
psycopg2-binary==2.9.9
SQLAlchemy==2.0.31
mlflow==2.14.3
celery[redis]==5.4.0
kafka-python-ng==2.2.2
redis==5.0.7
prometheus-client==0.20.0
alembic==1.13.2
matplotlib>=3.8
